<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>F</key>
	<dict>
	    <key>period</key>
	    <integer>-141</integer>
	    <key>comma</key>
	    <integer>-167</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-123</integer>
	    <key>quotedblright</key>
	    <integer>-167</integer>
	</dict>
    </dict>
</plist>
